*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body
{
    height: 100%;
    width: 100%;
}

body
{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 20px;
}

.image
{
    height: 300px;
    width: 200px;
    background-color: brown;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
}

button
{
    padding: 5px 10px;
    border-radius: 10px;
}