*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00ade7;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    color: #00DBDE;
}

.container
{
    border: 2px solid black;
    background-color:#fdffff;
    padding: 10px;
    line-height: 2.5rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background-color: rgb(12,7,26);
}

button
{
    width: 40%;
    padding: 5px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
}

button
{
    background-image: radial-gradient( circle 382px at 50% 50.2%,  rgba(73,76,212,1) 0.1%, rgba(3,1,50,1) 100.2% );
}