*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body
{
    height: 100%;
    width: 100%;
    background-color: blue;
}

body
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.container
{
    height: 100px;
    width: 200px;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box
{
    height: 50px;
    width: 100px;
    background-color: violet;
    display: flex;
    justify-content: center;
    align-items: center;
}

.target
{
    height: 100px;
    width: 200px;
    background-color: rebeccapurple;
    display: flex;
    justify-content: center;
    align-items: center;
}